<!-- <div  class="modal-overlay">
    <div class="modal-content">
      <span class="close" (click)="onCloseUpdateForm()">&times;</span>
      <h3>Update Request</h3>
      <form>
        <div class="form-group">
          <label for="userId">User ID:</label>
          <input type="text" [(ngModel)]="selectedRequest.userId" name="userId" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="bikeId">Bike ID:</label>
          <input type="number" [(ngModel)]="selectedRequest.bikeId" name="bikeId" class="form-control"
            required>
        </div>
        <div class="form-group">
          <label for="registrationNumber">Registration Number:</label>
          <input type="text" [(ngModel)]="selectedRequest.registrationNumber" name="registrationNumber"
            class="form-control" required>
        </div>
        <div class="form-group">
          <label for="fromDate">From Date:</label>
          <input type="datetime-local" [(ngModel)]="selectedRequest.fromDate" name="fromDate"
            class="form-control" required>
        </div>
        <div class="form-group">
          <label for="toDate">To Date:</label>
          <input type="datetime-local" [(ngModel)]="selectedRequest.toDate" name="toDate" class="form-control"
            required>
        </div>
        <div class="form-group">
          <label for="fromLocation">From Location:</label>
          <input type="text" [(ngModel)]="selectedRequest.fromLocation" name="fromLocation"
            class="form-control" required>
        </div>
        <div class="form-group">
          <label for="toLocation">To Location:</label>
          <input type="text" [(ngModel)]="selectedRequest.toLocation" name="toLocation" class="form-control"
            required>
        </div>
        <div class="form-group">
          <label for="distance">Distance:</label>
          <input type="number" [(ngModel)]="selectedRequest.distance" name="distance" class="form-control"
            required>
        </div>
        <div class="form-group">
          <label for="amount">Amount:</label>
          <input type="number" [(ngModel)]="selectedRequest.amount" name="amount" class="form-control"
            required>
        </div>
        <div class="form-group">
          <label for="due">Due:</label>
          <input type="number" [(ngModel)]="selectedRequest.due" name="due" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="status">Status:</label>
          <input type="text" [(ngModel)]="selectedRequest.status" name="status" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary" (click)="onSubmitUpdateForm()">Save</button>
        <button type="button" class="btn btn-secondary" (click)="onCloseUpdateForm()">Cancel</button>
      </form>
    </div>
  </div> -->