<section class=" back outSet" >
    <div class="container py-5 h-100 ">
      <div class="row d-flex justify-content-center align-items-center ">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <img src="banner.JPG"
              class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
              alt="Sample photo">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration Info</h3>
  
              <form class="px-md-2 " >
  
                <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label" for="userName">First Name <span class="text-danger">*</span></label>
                  <input type="text" id="userName" class="form-control" placeholder="Enter Your Name" required/>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label" for="lastName">Last Name <span class="text-danger">*</span></label>
                  <input type="text" id="lastName" class="form-control" placeholder="Enter Your Name" required/>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label" for="userGmail">Email Address <span class="text-danger">*</span></label>
                  <input type="email" id="userGmail" class="form-control" placeholder="Gmail Address" email required/>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label" for="phoneNumber">Mobile Number <span class="text-danger">*</span></label>
                  <input type="number" id="phoneNumber" class="form-control" required maxlength="10" placeholder="Eg: 0771234567"/>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label" for="nic">NIC Number <span class="text-danger">*</span></label>
                  <input type="text" id="nic" class="form-control" required maxlength="12" placeholder="Eg: 982760884v or 199827600884"/>
                </div>
                
                <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label" for="licenceNumber">Licence Number <span class="text-danger">*</span></label>
                  <input type="text" id="licenceNumber" class="form-control" required maxlength="12" placeholder="Eg: B4647245"/>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label" for="licenceNumber">Password <span class="text-danger">*</span></label>
                  <input type="text" id="licenceNumber" class="form-control" required maxlength="10" placeholder="Password"/>
                </div>
  
  
          
  
                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg mb-1">Submit</button>
  
              </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>