
<div class="d-flex">

  
    <!-- Sidebar -->
    <div class="sidebar p-3 mySideBar">
      <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
        <img src="me2logo-modified.png" alt=" Logo" width="32" height="32" class="me-2">
        <span class="fs-4 rentalLogo">Me2 Bike Rental</span>
      </a>
      <hr>
      <ul class="nav flex-column">
        <!-- <li class="nav-item mb-2">
          <a href="#" class="nav-link active">
            <span> Admin Dashboard</span>
          </a>
        </li> -->
        <li class="nav-item mb-2">
          <a href="#" class="nav-link adminComp">
            <span>Bikes</span> <span class="badge bg-warning text-dark ms-2">New</span>
          </a>
          <ul class="nav flex-column ms-3 adminComp1">
            <li class="nav-item mouseHover  "><a  class="nav-link " [routerLink]="['/admin/dashHome']"  >Home</a></li>
            <li class="nav-item"><a  class="nav-link mouseHover" [routerLink]="['/admin/addBike']"> Bike List</a></li>
            <li class="nav-item"><a  class="nav-link mouseHover" [routerLink]="['/admin/rentalRequest']" >Rental Request</a></li>
            <li class="nav-item"><a  class="nav-link mouseHover" [routerLink]="['/admin/updateBike']">Update Bike</a></li>
            <!-- <li class="nav-item"><a  class="nav-link mouseHover" [routerLink]="['/admin/deleteBike']">Delete Bike</a></li> -->
          </ul>
        </li>
      </ul>
      <hr>
      <div class="support-section ">
        <h6 class="adminComp">Others</h6>
        <ul class="nav flex-column adminComp1">
          <li class="nav-item mouseHover"><a  class="nav-link" [routerLink]="['/admin/reports']">Reports </a></li>
          <li class="nav-item mouseHover"><a  class="nav-link" [routerLink]="['/admin/userCreation']">User Creation</a></li>
          <li class="nav-item mouseHover"><a  class="nav-link" [routerLink]="['/admin/userRequest']">User Request</a></li>
          <!-- <li class="nav-item"><a href="#" class="nav-link">Extras</a></li> -->
        </ul>
      </div>
      <hr>
      <div class="support-section ">
        <h6 class="adminComp">Settings</h6>
        <ul class="nav flex-column">
          <!-- <li class="nav-item"><a href="#" class="nav-link"></a></li> -->
          <li class="nav-item adminComp1" ><a href="#" (click)="logout()" class="nav-link mouseHover" >Logout</a></li>

          <!-- <li class="nav-item"><a href="#" class="nav-link">Extras</a></li> -->
        </ul>
      </div>
    </div>
  
    <!-- Main Content -->
    <div class="content flex-fill ">
      <nav class="navbar bg-body-tertiary mb-3">
        <div class="container-fluid">
         
           <marquee behavior="" direction=""> "Welcome back, Admin! Ready to manage your dashboard?"</marquee>
  
        </div>
      </nav>
    

        <router-outlet> </router-outlet>

  
  
    </div>
  </div>
